.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background-color: blush;
}
.App-header {
  background-color: gainsboro;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.portfolioImg {
  margin: 5% 5%;
  width: 40%;
  height: 30%;
}

.nav-icon {
  align: right;
  height: 3rem;
  width: 4rem;
}
.aboutMe {
  font-size: medium;
}